@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
/* font-family: 'Open Sans', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
/* font-family: 'Roboto', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* font-family: 'Poppins', sans-serif; */
/* html{
    overflow-x: hidden;
} */

body{
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #000;
    background: #F7F9FA;
}

.form-field-main {
    margin-bottom: 25px;
    position: relative;
}

.labal-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    margin-bottom: 5px;
    color: #8697A8;
    font-weight: 400;
}


input {
    box-sizing: border-box;
    width: 100%;
    background: #F5F8FA;
    border: none;
    padding: 15px 15px;
    outline: none;
    font-size: 15px;
    color: #303D4D;
    font-family: 'Roboto', sans-serif;
    border-radius: 7px;
}
input::placeholder {
    color: #303D4D;
}

@media (max-width: 767px) {
    .form-field-main {
        margin-bottom: 15px;
    }
    input{
        padding: 11px 15px;
        font-size: 13px;
    }
    .login-form-main .login-btn .btn-login {
        font-size: 13px;
        padding: 10px 0px;
        border-radius: 3px;
    }
    .labal-text{
        font-size: 13px;
    }
}

.page-start-here {
    margin-left: 64px;
}

.page-start-here .inner-box-main-padding-main {
    padding: 30px 34px;
}

.white-box-main {
    background: #fff;
    box-shadow: 0px 16px 20px #3348540d;
    border: 1px solid #1C63B8;
    border-radius: 8px;
    margin-bottom: 31px;
    overflow: hidden;
}

.comman-title {
    color: #303D4D;
    font-family: 'Roboto';
    font-size: 22px;
    font-weight: 700;
}

.tood-table-main .dataTables_wrapper div#example_length {
    display: none !important;
}
.tood-table-main .dataTables_wrapper div#example_filter {
    display: none;
}
.tood-table-main div#example_info {
    display: none;
}

.dataTables_wrapper div#example_paginate {
    display: none;
}

.tood-table-main .dataTable thead th {
    padding: 20px 24px;
    color: #8697A8;
    font-size: 14px;
    font-weight: 400;
    border-bottom: 1px solid #f3f0f0;
    text-transform: uppercase;
}

.tood-table-main .dataTable thead th:last-child::before,
.tood-table-main .dataTable thead th:last-child::after{
    display: none;
}

.tood-table-main .dataTable thead th:before {
    position: absolute;
    content: '' !important;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #8697A8;
    top: 24px;
}

.tood-table-main .dataTable thead th:after {
    position: absolute;
    content: '' !important;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #8697A8;
    top: 56% !important;
}

.tood-table-main table.dataTable.stripe>tbody>tr.odd>*, table.dataTable.display>tbody>tr.odd>*{
    box-shadow: none !important;
}

.tood-table-main tbody tr td {
    padding: 18px 24px !important;
    font-size: 15px !important;
    color: #303D4D !important;
    font-family: 'Roboto';
}

.tood-table-main .inner-boxed-main {
    display: flex;
    align-items: center;
    column-gap: 30px;
}

.green-labal {
    background: rgb(61 204 121 / 10%);
    padding: 8px 4px;
    width: 98px;
    border-radius: 6px;
    color: #20A144;
    font-size: 12px;
    font-family: 'Roboto';
    text-align: center;
}

.tood-table-main table.dataTable.display>tbody>tr.even>.sorting_1, table.dataTable.order-column.stripe>tbody>tr.even>.sorting_1,
table.dataTable.hover>tbody>tr:hover>*, table.dataTable.display>tbody>tr:hover>*{
    box-shadow: none !important;
}

.red-labal {
    background: rgb(255 225 223);
    color: #ef3d34;
    padding: 8px 4px;
    width: 98px;
    border-radius: 6px;
    font-size: 12px;
    font-family: 'Roboto';
    text-align: center;
}
.yellow-labal{
    background: #FFF5E0;
    color: #FFCF5F;
    padding: 8px 4px;
    width: 98px;
    border-radius: 6px;
    font-size: 12px;
    font-family: 'Roboto';
    text-align: center;
}

.blues-labal{
    background: #D6F5F9;
    color: #32CCE0;
    padding: 8px 4px;
    width: 98px;
    border-radius: 6px;
    font-size: 12px;
    font-family: 'Roboto';
    text-align: center;
}

.icon-pics, .more-btn{
    cursor: pointer;
}

.red-row.odd td {
    background: rgb(253 85 76 / 8%);
}
.yellow-row td{
    background:#FFFAEF;
}

.blue-row td{
    background:#EAFAFC;
}


.tood-table-main .dataTables_length,
.tood-table-main .dataTables_filter,
.tood-table-main .dataTables_info,
.tood-table-main .dataTables_paginate {
    display: none;
}

.name-title {
    color: #303D4D;
    font-size: 15px;
    margin-bottom: 0px;
    font-family: 'Roboto';
}
.email-ids-main {
    color: #8697A8;
    font-size: 14px;
    font-weight: 300;
    font-family: 'Open Sans';
}

.last-row-boxed-main-dashboard .right-boxed-main .scroll-box-main {
    height: 545px;
    overflow-y: auto;
    background: #f5f7f8;
}

.last-row-boxed-main-dashboard .right-boxed-main .white-row-main {
    margin-bottom: 8px;
    background: #fff;
    box-shadow: 0px 16px 20px #3348540d;
    border-radius: 8px;
    padding: 20px;
}

.last-row-boxed-main-dashboard .right-boxed-main .white-row-main .first-col-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.last-row-boxed-main-dashboard .right-boxed-main .white-row-main .first-col-main .form-check {
    width: 80%;
    display: flex;
    align-items: center;
    column-gap: 24px;
}

.last-row-boxed-main-dashboard .right-boxed-main .white-row-main .first-col-main .form-check input {
    padding: 8px;
    width: 18px;
    height: 18px;
}

.last-row-boxed-main-dashboard .right-boxed-main .white-row-main .first-col-main .form-check label.form-check-label .above-text {
    display: block;
    font-size: 13px;
    color: #303D4D;
    cursor: pointer;
}
.last-row-boxed-main-dashboard .right-boxed-main .white-row-main .first-col-main .form-check label.form-check-label span.below-text {
    display: block;
    font-size: 13px;
    cursor: pointer;
    color: #8697A8;
}

.last-row-boxed-main-dashboard .right-boxed-main .white-row-main .first-col-main .form-check input:checked + label.form-check-label .above-text,
.last-row-boxed-main-dashboard .right-boxed-main .white-row-main .first-col-main .form-check input:checked + label.form-check-label .below-text {
    text-decoration: line-through;
}
.red-color-icons svg path {
    fill: #FD554C;
}

.form-check-input[type=checkbox] {
    background: #F5F8FA 0% 0% no-repeat padding-box;
    border: 1px solid #EAEDF0;
    border-radius: 4px;
}
.form-check-input:checked {
    background-color: #4191F2;
    border-color: #4191F2;
}

.form-check-input:focus{
    box-shadow: none;
}

@media (max-width:1300px) {
    .page-start-here .inner-box-main-padding-main {
        padding: 24px 24px;
    }
    .over-flow-table table {
        width: 1500px !important;
    }
    .over-flow-table {
        overflow-x: auto;
    }
    .overflow-tab-2 table{
        width: 800px !important;
    }

    .overflow-tab-2{
        overflow-x: auto;
    }
    .white-box-main{
        margin-bottom: 20px;
    }
}

@media (max-width:1200px) {
    .page-start-here .inner-box-main-padding-main {
        padding: 24px 15px;
    }
    .page-start-here {
        margin-left: 50px;
    }
    .comman-title{
        font-size: 20px;
    }
}

@media (max-width:991px) {
    .page-start-here {
        margin-left: 0px;
    }
}

.alert-area-main {
    width: 438px !important;
}

.alert-area-main .modal-content {
    box-shadow: 0px 16px 40px #33485433;
    border-radius: 8px;
    padding: 35px 20px;
}

.alert-area-main .modal-content .inner-box {
    text-align: center;
}

.alert-area-main .modal-content .inner-box .success-icon {
    margin-bottom: 32px;
}

.alert-area-main .modal-content .inner-box .text-title-main {
    color: #303D4D;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 9px;
    font-family: 'Roboto';
    line-height: normal;
}

.alert-area-main .modal-content .inner-box .list-text-small {
    letter-spacing: 0px;
    color: #6C7A87;
    font-family: 'Poppins';
    font-size: 14px;
    margin-bottom: 32px;
    font-weight: 400;
}

.alert-area-main .modal-content .inner-box .btn-ok {
    background: #4191F2 0% 0% no-repeat padding-box;
    border-radius: 8px;
    display: inline-block;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: 400;
    font-family: 'Roboto';
    padding: 13px 40px;
    text-transform: uppercase;
    cursor: pointer;
}

@media (max-width:767px) {
    .alert-area-main {
        width: 95% !important;
        margin: auto;
    }
    .alert-area-main .modal-content .inner-box .success-icon {
        margin-bottom: 15px;
    }
    .alert-area-main .modal-content .inner-box .text-title-main{
        font-size: 22px;
    }
    .alert-area-main .modal-content .inner-box .list-text-small{
        margin-bottom: 22px;
    }
    .alert-area-main .modal-content .inner-box .btn-ok {
        font-size: 13px;
        padding: 8px 40px;
    }
    .alert-area-main .modal-content{
        padding: 26px 10px;
    }
}


.skd-table table thead .filters th:last-child .input-box-mained {
    display: none;
}

.skd-table table tbody tr td {
    background: #fff;
}

.skd-table.tood-table-main-area table tbody tr td {
    padding: 22px 20px !important;
}

.skd-table.tood-table-main-area table tbody tr:first-child td:first-child{
    border-top-left-radius: 8px;
}

.skd-table.tood-table-main-area table tbody tr:first-child td:last-child{
    border-top-right-radius: 8px;
}

.skd-table.tood-table-main-area table tbody tr:last-child td:last-child{
    border-bottom-right-radius: 8px;
}

.skd-table.tood-table-main-area table tbody tr:last-child td:first-child{
    border-bottom-left-radius: 8px;
}


.skd-table.tood-table-main-area .input-box-mained {
    margin-top: 0px;
    margin-bottom: 8px;
}

#example4 thead tr:nth-child(2) th:nth-child(5) .input-box-mained {
    display: none;
}

#example4 tr.white-color td {
    background: #fff;
}

.gray-labal {
    background: #F0F1F3;
    color: #6C7A86;
}

.padding-right-110 {
    padding-right: 95px;
}

@media (max-width:1100px) {
    .padding-right-110 {
        padding-right: 0px;
    }   
}

.calendar-grids {
    font-family: 'Roboto' !important;
    color: #303D4D !important;
   
}

.calendar-grids tr th.fc-col-header-cell {
    border: none !important;
    border-bottom: 1px solid #EAEDF0 !important;
    padding: 24px 0px;
}
.calendar-grids tr th.fc-col-header-cell .fc-scrollgrid-sync-inner a {
    font-size: 13px;
    font-family: 'Roboto';
    color: #8697A8;
    text-transform: uppercase;
    font-weight: 400;
    padding: 0px;
}

.calendar-grids .fc-daygrid-day-top {
    padding-top: 10px;
    padding-right: 10px;
    font-size: 20px;
    padding-bottom: 10px;
}
.calendar-grids .fc-day-today {
    background: transparent !important;
}

.calendar-grids .fc-day-today .fc-daygrid-day-top a {
    width: 40px;
    height: 40px;
    background: #4191F2;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    color: #fff;
}

.fc-theme-standard td {
    border: 1px solid #EAEDF0 !important;
}

.calendar-grids .fc-timeGridWeek-view .fc-daygrid-body-unbalanced .fc-daygrid-day-events {
    min-height: 2em !important;
}

@media (max-width:1500px){
    .calendar-grids .fc-daygrid-day .fc-daygrid-day-events {
        min-height: 80px !important;
    }
}
@media (max-width:1100px) {
    .calendar-grids .fc-daygrid-day-top {
        padding-top: 10px;
        padding-right: 10px;
        font-size: 15px;
        padding-bottom: 10px;
    }
    .calendar-grids .fc-day-today .fc-daygrid-day-top a{
        width: 30px;
        height: 30px;
    }
    .calendar-grids tr th.fc-col-header-cell{
        padding: 15px 0px;
    }
    .calendar-grids tr th.fc-col-header-cell .fc-scrollgrid-sync-inner a{
        font-size: 12px;
    }
}

.calendar-grids .fc-timeGridWeek-view tr th.fc-col-header-cell {
    border: 1px solid #EAEDF0 !important;
}

.calendar-grids .fc-timeline-header-row-chrono .fc-timeline-slot-frame {
    justify-content: center !important;
}

.calendar-grids .fc-resource-timeline-flat .fc-scrollgrid-section > *{
    border: none !important;
}

.calendar-grids .fc-resource-timeline-flat .fc-timeline-slot.fc-timeline-slot-label.fc-slot.fc-slot-mon.fc-slot-today {
    border: 1px solid #EAEDF0 !important;
}
.fc-theme-standard th{
    border: 1px solid #EAEDF0 !important;
}

.calendar-grids.fc-theme-standard  .fc-resource-timeline-flat th .fc-datagrid-cell-frame{
    padding-left: 20px;
}   

.calendar-grids.fc-theme-standard  .fc-resource-timeline-flat td .fc-datagrid-cell-frame {
    height: 100px !important;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.calendar-grids.fc-theme-standard .fc-resource-timeline-flat   .fc-timeline-lane-frame {
    height: 100px !important;
}

.calendar-grids.fc-theme-standard a.fc-resource-timeline-flat a.fc-timeline-event.fc-h-event.fc-event.fc-event-draggable.fc-event-resizable.fc-event-start.fc-event-end.fc-event-today.fc-event-future,
.calendar-grids.fc-theme-standard a.fc-timeline-event.fc-h-event.fc-event.fc-event-draggable.fc-event-resizable.fc-event-end.fc-event-today {
    height: 90px;
    border-radius: 10px;
    padding: 15px 20px;
    display: flex;
    margin:5px;
    align-items: flex-start;
}
.fc-direction-ltr .fc-timeline-event:not(.fc-event-start):before, .fc-direction-rtl .fc-timeline-event:not(.fc-event-end){
    display:none !important;
}

.page-start-here .inner-box-main-padding-main ul.dropdown-menu.show {
    width: 100%;
}

.page-start-here .inner-box-main-padding-main .filter-boxed-main .left-boxed-main .first-col .dropdown ul.dropdown-menu {
    width: 62px !important;
    min-width: inherit;
}

@media (max-width:767px) {
    .page-start-here .inner-box-main-padding-main .filter-boxed-main .left-boxed-main .first-col .dropdown ul.dropdown-menu {
        width: 100% !important;
        min-width: inherit;
    }
}



.side-bar-area-main::-webkit-scrollbar {
    width: 0px;
}
 
.side-bar-area-main::-webkit-scrollbar-track {
    background: red;
}
 
.side-bar-area-main::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}