@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');

/* font-family: 'Paytone One', sans-serif; */
html,
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif !important;
    font-size: 16px;
    color: #000;
    overflow-x: hidden;
}

div {
    box-sizing: border-box;
}

input,
textarea,
a {
    box-sizing: border-box;
}

a {
    display: inline-block;
    text-decoration: none;
}

p {
    margin: 0;
    margin-bottom: 15px;
}

.custom-container {
    max-width: 1300px;
    margin: auto;
}

img {
    max-width: 100%;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

.comman-small-heading {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 32px;
    text-transform: uppercase;
    margin-bottom: 0px;
}

.header-area-main {
    background: #583EBC;
    padding: 16px 0px;
}

.header-area-main .inner-box-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-area-main .inner-box-main .navigation-area-main .navbar.navbar-expand-lg.bg-light {
    padding: 0;
    background: none !important;
}

.header-area-main .inner-box-main ul.navbar-nav {
    display: flex;
    align-items: center;
    column-gap: 40px;
}

.header-area-main .inner-box-main ul.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
}

.header-area-main .inner-box-main ul.navbar-nav .nav-item a {
    color: #fff !important;
    padding: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    cursor: pointer;
}

.header-area-main .inner-box-main .social-links-main {
    display: flex;
    align-items: center;
    column-gap: 8px;
}

.header-area-main .inner-box-main .social-links-main .boxed-main a {
    border: 1px solid rgb(255 255 255 / 30%) !important;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    transition: 0.3s all ease;
}

.header-area-main .inner-box-main .social-links-main .boxed-main a:hover {
    background: #ffff;
}

.header-area-main .inner-box-main .social-links-main .boxed-main a:hover img {
    filter: brightness(0);
}

.header-area-main .inner-box-main .navigation-area-main {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-right: 175px;
}

.header-area-main .inner-box-main .logo-area a {
    text-decoration: none;
    font-family: 'Paytone One';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    color: #FFFFFF;
}

.banner-section-main {
    background: #583ebc;
    color: #fff;
    border-bottom-left-radius: 80px;
    border-bottom-right-radius: 80px;
    position: relative;
    margin-top: -1px;
    box-sizing: border-box;
}

.align-center {
    align-items: center;
}

.banner-heading {
    font-family: 'Paytone One';
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    line-height: 80px;
    color: #FFFFFF;
    margin-bottom: 32px;
    position: relative;
    width: 70%;
}

.banner-heading::before {
    position: absolute;
    content: '';
    background: url('../images/combine-shape.svg')no-repeat;
    width: 176px;
    height: 176px;
    right: 10px;
    left: auto;
    top: -60px;
}

.banner-section-main p {
    margin-bottom: 38px;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #FFFFFF;
}

.btn-area-main {
    display: flex;
    align-items: center;
    column-gap: 30px;
}

.btn-area-main a {
    width: 170px;
    border: 1px solid rgba(255, 255, 255, 0.295063);
    border-radius: 12px;
    padding: 11px 0px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
}

.btn-area-main .about-btn {
    background: #F8F7AB;
    color: #333333;
}

.btn-area-main a:hover {
    background: #F8F7AB;
    transform: 0.3s all ease;
    color: #333333;
}

.down-arrow {
    width: 48px;
    height: 48px;
    border: 1px solid rgb(255 255 255 / 30%);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: absolute;
    bottom: 24px;
    left: 0;
    right: 0;
    margin: auto;
}

.second-section-expertise {
    padding: 71px 0px;
}

.color-new {
    color: #333333;
}

.second-section-expertise .second-row {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: 54px;
}

.comman-headings {
    font-family: 'Paytone One';
    font-weight: 400;
    font-size: 56px;
    line-height: 64px;
    color: #333333;
}

.second-section-expertise .right-side-area p {
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #333333;
}

.second-section-expertise .third-row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    position: relative;
}

.second-section-expertise .third-row::before {
    position: absolute;
    content: '';
    background: url('../images/new-shape.svg')no-repeat;
    width: 176px;
    height: 176px;
    right: -43px;
    left: auto;
    top: -40px;
    z-index: -1;
}

.second-section-expertise .third-row .comman-cols {
    background: #F7F7F7;
    border-radius: 16px;
    padding: 48px 48px;
}

.second-section-expertise .third-row .comman-cols .icons {
    background: #F8F7AB;
    border-radius: 12px;
    width: 112px;
    height: 112px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 87px;
}

.sub-headings {
    font-family: 'Paytone One';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    color: #333333;
    margin-bottom: 19px;
}

.para-area {
    color: rgba(51, 51, 51, 0.501557);
    font-weight: 300;
    font-size: 18px;
    line-height: 32px;
}

.third-section-main {
    background: #583ebc;
    border-radius: 80px;
    padding: 20px 15px;
    box-sizing: border-box;
}

.third-section-main .inner-box-my-skills {
    background: #f7f7f7;
    border-radius: 80px;
    padding-bottom: 112px;
}

.third-section-main .comman-headings {
    margin-bottom: 33px;
    width: 70%;
    position: relative;
}

.third-section-main .comman-headings::before {
    position: absolute;
    content: '';
    background: url('../images/new-shape.svg')no-repeat;
    width: 176px;
    height: 176px;
    right: -13px;
    left: auto;
    top: -72px;
}

.third-section-main .left-col p {
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #333333;
    margin-bottom: 0;
}

.third-section-main .inner-box-skills {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

.third-section-main .inner-box-skills .right-col .inner-boxed-loader {
    display: flex;
    align-items: center;
    justify-content: center;
}

.third-section-main .inner-box-skills .right-col .inner-boxed-loader {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 30px;
}

.third-section-main .inner-box-skills .right-col .inner-boxed-loader .boxed-for-load {
    background: #FFFFFF;
    border-radius: 16px;
    padding: 32px 55px;
    text-align: center;
}

.box-shadow {
    box-shadow: 20px 20px 40px rgb(0 0 0 / 10%);
}

.margin-bottom-new {
    margin-bottom: 32px;
}

.third-section-main .inner-box-skills .right-col .inner-boxed-loader .right-load {
    padding-top: 180px;
}

.text-head {
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #333333;
    margin-top: 10px;
}

.third-section-main .inner-box-second-skills {
    padding-top: 96px;
    padding-bottom: 70px;
}

.third-section-main .inner-box-second-skills .comman-boxed-skilss {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    grid-column-gap: 30px;
}

.third-section-main .inner-box-second-skills .comman-boxed-skilss .imged-box {
    background: #F8F7AB;
    border-radius: 16px;
    width: 128px;
    height: 128px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-bottom: 23px;
}

.third-section-main .inner-box-second-skills .comman-boxed-skilss .nummber {
    font-family: 'Paytone One';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.third-section-main .inner-box-second-skills .comman-boxed-skilss .white-texts {
    font-weight: 300;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    color: rgba(255, 255, 255, 0.502972);
}

.portfolio-section-main {
    padding: 70px 0px;
}

.img-applanding img {
    width: 100%;
}

.img-applanding {
    margin-top: 55px;
    margin-bottom: 32px;
    position: relative;
}

.img-applanding::before {
    position: absolute;
    content: '';
    background: url('../images/new-shape.svg')no-repeat;
    width: 176px;
    height: 176px;
    right: -43px;
    left: auto;
    top: -42px;
    z-index: -1;
}

.tabs-area {
    background: #F7F7F7;
    border-radius: 16px 16px 0px 0px;
    padding: 20px 0px;
}

.tabs-area .nav-tabs {
    border: none;
    justify-content: space-around;
    width: 60%;
    margin: auto;
}

.tabs-area .nav-tabs button {
    padding: 0;
    background: none !important;
    border: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    color: #333333;
    position: relative;
    font-family: 'Montserrat' !important;
    cursor: pointer;
}

.tabs-area .nav-tabs button.active:before {
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    bottom: -19px;
    height: 6px;
    background: #583EBC;
}

.grid-boxed-main {
    margin-top: 32px;
    margin-bottom: 48px;
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 32px;
}

.grid-boxed-main .column-gap-main {
    position: relative;
}

.grid-boxed-main .column-gap-main img {
    width: 100%;
}

.grid-boxed-main .column-gap-main .text-area {
    position: absolute;
    bottom: 42px;
    left: 32px;
}

.grid-boxed-main .column-gap-main .text-area .small-texts {
    font-weight: 300;
    font-size: 18px;
    line-height: 32px;
    color: rgba(255, 255, 255, 0.502972);
}

.grid-boxed-main .column-gap-main .text-area .small-heads {
    font-family: 'Paytone One';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
}

.grid-boxed-main::before {
    position: absolute;
    content: '';
    background: url('../images/new-shape.svg')no-repeat;
    width: 176px;
    height: 176px;
    left: -40px;
    top: auto;
    z-index: -1;
    bottom: -40px;
}

.button-all-works a {
    border: 1px solid rgb(116 79 249 / 32%);
    font-size: 16px;
    line-height: 24px;
    color: #744FF9;
    text-decoration: none;
    display: inline-block;
    padding: 11px 50px;
    border-radius: 12px;
    font-weight: 700;
}

.fifth-section-mains {
    background: #F2F2F2;
    padding: 70px 0px;
}

.fifth-section-mains .my-experience-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 71px;
}

.fifth-section-mains .my-experience-main .left-boxed .comman-small-heading {
    margin-bottom: 18px;
}

.fifth-section-mains .my-experience-main .right-boxed p {
    margin-bottom: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #333333;
}

.fifth-section-mains .timeline-area-main .boxed-area-time {
    display: flex;
    column-gap: 52px;
}

.fifth-section-mains .timeline-area-main .boxed-area-time .left-sideded {
    width: 48px;
    height: 48px;
    background: #583EBC;
    border-radius: 12px;
    position: relative;
}

.timeline-area-main .boxed-area-time .left-sideded:before {
    position: absolute;
    content: '';
    background: #FFFFFF;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 0;
    right: 0;
}

.year-text {
    font-family: 'Paytone One';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    color: #333333;
    margin-bottom: 33px;
}

.fifth-section-mains .timeline-area-main .boxed-area-time .right-sideded {
    width: 90%;
    position: relative;
    z-index: 1;
}

.fifth-section-mains .timeline-area-main .boxed-area-time {
    display: flex;
    column-gap: 52px;
    margin-bottom: 47px;
}

.fifth-section-mains .timeline-area-main .boxed-area-time .right-sideded .white-boxed {
    width: 100%;
    background: #fff;
    padding: 36px 48px;
    border-radius: 16px;
    position: relative;
    box-sizing: border-box;
}

.fifth-section-mains .timeline-area-main .boxed-area-time .right-sideded .white-boxed.oval-grids::before {
    position: absolute;
    content: '';
    background: url('../images/new-shape.svg')no-repeat;
    width: 176px;
    height: 176px;
    left: auto;
    top: -40px;
    right: -40px;
    z-index: -1;
}

.fifth-section-mains .timeline-area-main .boxed-area-time .right-sideded .inner-texts {
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: #333333;
    margin-bottom: 19px;
}

.fifth-section-mains .timeline-area-main .boxed-area-time .right-sideded p {
    margin-bottom: 0;
    font-weight: 300;
    font-size: 18px;
    line-height: 32px;
    color: rgba(51, 51, 51, 0.501557);
}

.box-shadow-main {
    box-shadow: 20px 20px 40px rgb(0 0 0 / 10%);
}

.fifth-section-mains .timeline-area-main .boxed-area-time .left-sideded.yeallow-color {
    background: #F8F7AB;
}

.fifth-section-mains .timeline-area-main .boxed-area-time .left-sideded.yeallow-color::before {
    background: #333333;
}

.fifth-section-mains .timeline-area-main .boxed-area-time .border-bottoms:after {
    position: absolute;
    content: '';
    background: #E6E6E6;
    width: 1px;
    top: 60px;
    bottom: -250px;
    left: 0;
    right: 0;
    margin: auto;
}

.sixth-sections-mains {
    padding-top: 70px;
    padding-bottom: 144px;
}

.sixth-sections-mains .testimonials-mains {
    margin-top: 87px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 30px;
    position: relative;
}

.sixth-sections-mains .testimonials-mains::before {
    position: absolute;
    content: '';
    background: url('../images/new-shape.svg')no-repeat;
    width: 176px;
    height: 176px;
    left: auto;
    top: -40px;
    right: -40px;
    z-index: -1;
}

.sixth-sections-mains .testimonials-mains .innner-cols {
    background: #F7F7F7;
    border-radius: 16px;
    padding: 48px 48px;
}

.sixth-sections-mains .testimonials-mains .innner-cols .quote-cons {
    background: #F8F7AB;
    border-radius: 12px;
    width: 112px;
    height: 112px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 42px;
}

.sixth-sections-mains .testimonials-mains .innner-cols .text-paragraph {
    font-weight: 300;
    font-size: 18px;
    line-height: 32px;
    color: rgba(51, 51, 51, 0.501557);
    margin-bottom: 33px;
}

.sixth-sections-mains .testimonials-mains .innner-cols .test-boxed {
    display: flex;
    align-items: center;
    column-gap: 24px;
}

.sixth-sections-mains .testimonials-mains .innner-cols .test-boxed .names-text {
    font-family: 'Paytone One';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: #333333;
    margin-bottom: 9px;
}

.sixth-sections-mains .testimonials-mains .innner-cols .test-boxed .text-small {
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    color: rgba(51, 51, 51, 0.50133);
}

.seventh-sections-main {
    background: #583ebc;
    border-radius: 80px;
    padding: 71px 15px;
    box-sizing: border-box;
    position: relative;
    z-index: 9;
}


.seventh-sections-main .my-experience-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 86px;
}

.seventh-sections-main .my-experience-main .left-boxed .comman-small-heading {
    color: #fff;
}

.seventh-sections-main .my-experience-main .left-boxed .comman-headings {
    color: #fff;
}

.seventh-sections-main .my-experience-main .right-boxed p {
    margin-bottom: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #FFFFFF;
}

.blog-update-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    margin-bottom: 144px;
    position: relative;
}

.blog-update-cards::before {
    position: absolute;
    content: '';
    background: url('../images/new-shape.svg')no-repeat;
    width: 176px;
    height: 176px;
    left: auto;
    top: -40px;
    right: -40px;
    z-index: -1;
}

.blog-update-cards .comman-cols {
    padding: 16px;
    background: #F7F7F7;
    border-radius: 16px;
}

.blog-update-cards .comman-cols img {
    width: 100%;
    margin-bottom: 20px;
}

.blog-update-cards .comman-cols .content-area {
    padding-left: 48px;
    padding-bottom: 38px;
}

.blog-update-cards .comman-cols .blog-title {
    margin-bottom: 20px;
    font-family: 'Paytone One';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: #333333;
}

.blog-update-cards .comman-cols .text-are {
    font-weight: 300;
    font-size: 18px;
    line-height: 32px;
    color: rgba(51, 51, 51, 0.501557);
    margin-bottom: 16px;
}

.blog-update-cards .comman-cols .date-time {
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #333333;
}

.contact-form-main {
    background: #F7F7F7;
    border-radius: 96px;
    padding: 160px 0px;
}

.contact-form-main .inner-boxed-main-contact {
    display: flex;
    align-items: center;
}

.contact-form-main .inner-boxed-main-contact .left-col {
    width: 50%;
}

.contact-form-main .inner-boxed-main-contact .left-col .comman-headings {
    margin-bottom: 33px;
    position: relative;
    width: 70%;
}

.contact-form-main .inner-boxed-main-contact .left-col p {
    margin-bottom: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #333333;
}


.contact-form-main .inner-boxed-main-contact .left-col .comman-headings::before {
    position: absolute;
    content: '';
    background: url(../images/new-shape.svg)no-repeat;
    width: 176px;
    height: 176px;
    right: -13px;
    left: auto;
    top: -72px;
}

.contact-form-main .inner-boxed-main-contact .right-col {
    width: 50%;
}

.contanct-forms-main {
    background: #FFFFFF;
    box-shadow: 20px 20px 40px rgb(0 0 0 / 10%);
    border-radius: 16px;
    width: 80%;
    margin: auto;
    padding: 38px 48px;
}

.contanct-forms-main .text-title {
    font-family: 'Paytone One';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: #333333;
    margin-bottom: 26px;
}

.contanct-forms-main .forms-field input {
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid #DADADA;
    border-radius: 12px;
    font-weight: 300;
    font-size: 18px;
    line-height: 32px;
    color: rgba(51, 51, 51, 0.501557);
    outline: none;
    box-sizing: border-box;
    padding: 7px 20px;
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 300;
}

.contanct-forms-main .forms-field .dropdown button.btn {
    width: 100%;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #FFFFFF;
    border: 1px solid #DADADA;
    border-radius: 12px;
    font-weight: 300;
    font-size: 18px;
    line-height: 32px;
    color: rgba(51, 51, 51, 0.501557);
    padding: 7px 20px;
    margin-bottom: 18px;
}

.contanct-forms-main .forms-field textarea {
    width: 100%;
    box-sizing: border-box;
    resize: none;
    font-weight: 300;
    font-size: 18px;
    line-height: 32px;
    color: rgba(51, 51, 51, 0.501557);
    outline: none;
    background: #FFFFFF;
    border: 1px solid #DADADA;
    padding: 10px 20px;
    border-radius: 12px;
    height: 144px;
    margin-bottom: 16px;
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 300;
}

.contanct-forms-main .submt-btn .btn-primary {
    width: 100%;
    background: #744FF9;
    border-radius: 12px;
    border: none;
    padding: 10px 0px;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}

.contanct-forms-main .forms-field input::placeholder,
.contanct-forms-main .forms-field textarea::placeholder {
    color: rgba(51, 51, 51, 0.501557);
}

.social-media-main {
    padding: 120px 0px;
}

.social-media-main .inner-boxed-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.social-media-main .inner-boxed-main .left-sided .comman-headings {
    color: #fff;
    margin-bottom: 17px;
}

.social-media-main .inner-boxed-main .left-sided .small-texting {
    font-weight: 300;
    font-size: 18px;
    line-height: 32px;
    color: rgba(255, 255, 255, 0.502972);
}

.social-media-main .inner-boxed-main .right-sided {
    display: flex;
    align-items: center;
    position: relative;
    column-gap: 43px;
}

.social-media-main .inner-boxed-main .right-sided::before {
    position: absolute;
    content: '';
    background: url(../images/combine-shape.svg)no-repeat;
    width: 176px;
    height: 176px;
    left: 0;
    top: -30px;
}

.social-media-main .inner-boxed-main .right-sided .colmn-grids {
    background: #F8F7AB;
    border-radius: 16px;
    width: 128px;
    height: 128px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-media-main .inner-boxed-main .right-sided .colmn-grids img {
    filter: brightness(0);
    width: 40px;
    height: 40px;
    object-fit: contain;
}

.footer-section-main {
    background: #333333;
    color: #fff;
    padding-top: 180px;
    padding-bottom: 80px;
    margin-top: -79px;
    z-index: 1;
    position: relative;
}

.footer-section-main .above-footer-main a.logo-footer {
    color: #fff;
    font-family: 'Paytone One';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    color: #FFFFFF;
    margin-bottom: 26px;
    text-decoration: none;
}

.above-footer-main p {
    font-weight: 300;
    font-size: 18px;
    line-height: 32px;
    color: rgba(255, 255, 255, 0.502972);
}

.linkes-main {
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #FFFFFF;
    margin-bottom: 5px;
}

.linkes-main a {
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #FFFFFF;
}

.footer-text {
    font-weight: 300;
    font-size: 24px;
    line-height: 32px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.phone-number {
    font-family: 'Paytone One';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.phone-number a {
    color: #fff;
    text-decoration: none;
}

.email-id a {
    display: block;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #FFFFFF;
    text-decoration: none;
}

.address-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #FFFFFF;
}

.copyright {
    font-weight: 300;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    color: rgba(255, 255, 255, 0.502972);
    background: #282828;
    padding: 28px 0px;
}

.button-all-works {
    text-align: center;
}

.contanct-forms-main .dropdown select {
    width: 100%;
    border: 1px solid #DADADA;
    border-radius: 12px;
    font-weight: 300;
    font-size: 18px;
    line-height: 32px;
    color: rgba(51, 51, 51, 0.501557);
    outline: none;
    box-sizing: border-box;
    padding: 11px 20px;
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 400;
    -moz-appearance: none;
    /* Firefox */
    -webkit-appearance: none;
    /* Safari and Chrome */
    appearance: none;
}

.contanct-forms-main .forms-field .dropdown {
    position: relative;
    margin-bottom: 20px;
}

.contanct-forms-main .forms-field .dropdown:before {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #000;
    right: 20px;
    top: 0;
    bottom: 0;
    margin: auto;
}

@media (max-width:1300px) {
    .custom-container {
        max-width: 94%;
    }

    .banner-heading {
        font-size: 55px;
        line-height: 65px;
    }

    .banner-section-main p {
        margin-bottom: 38px;
        font-weight: 400;
        font-size: 15px;
        line-height: 28px;
        color: #FFFFFF;
    }

    .banner-section-main {
        border-bottom-left-radius: 50px;
        border-bottom-right-radius: 50px;

    }

    .comman-headings {
        font-size: 45px;
        line-height: 54px;
    }

    .para-area br {
        display: none;
    }

    .second-section-expertise .third-row .comman-cols {
        padding: 28px 29px;
    }
}

@media (max-width:1200px) {
    .custom-container {
        max-width: 90%;
    }

    .address-text br {
        display: none;
    }

    .above-footer-main p br {
        display: none;
    }

    .social-media-main .inner-boxed-main .right-sided .colmn-grids {
        width: 98px;
        height: 98px;
    }

    .social-media-main .inner-boxed-main .right-sided .colmn-grids img {
        width: 30px;
        height: 30px;
    }

    .social-media-main .inner-boxed-main .right-sided::before {
        position: absolute;
        content: '';
        background: url(../images/combine-shape.svg)no-repeat;
        width: 136px;
        height: 136px;
        left: 0;
        top: -10px;
    }

    .social-media-main {
        padding: 70px 0px;
    }

    .above-footer-main p {
        font-weight: 300;
        font-size: 16px;
        line-height: 28px;
    }

    .linkes-main a {
        font-size: 16px;
    }

    .footer-text {
        font-weight: 300;
        font-size: 20px;
        line-height: 28px;
        text-transform: uppercase;
        color: #FFFFFF;
        margin-bottom: 15px;
    }

    .phone-number {
        font-size: 20px;
    }

    .email-id a {
        font-size: 16px;
        line-height: 32px;
    }

    .address-text {
        font-size: 16px;
    }

    .footer-section-main {
        padding-top: 150px;
        padding-bottom: 50px;
        margin-top: -79px;

    }

    .contanct-forms-main {
        width: 90%;
        margin: auto;
        padding: 28px 28px;
    }

    .contact-form-main .inner-boxed-main-contact .left-col p {
        font-size: 15px;
    }

    .blog-update-cards .comman-cols .content-area {
        padding-left: 0px;
        padding-bottom: 0px;
    }

    .blog-update-cards .comman-cols .date-time {
        font-size: 16px;
    }

    .blog-update-cards {
        grid-column-gap: 20px;
        margin-bottom: 74px;

    }

    .seventh-sections-main {
        border-radius: 40px;
        padding: 60px 10px;
    }

    .sixth-sections-mains .testimonials-mains .innner-cols .text-paragraph {
        font-size: 16px;
    }

    .sixth-sections-mains .testimonials-mains .innner-cols .text-paragraph br,
    .third-section-main .inner-box-second-skills .comman-boxed-skilss .white-texts br,
    .third-section-main .comman-headings br,
    .third-section-main .left-col p br,
    .fifth-section-mains .timeline-area-main .boxed-area-time .right-sideded p br {
        display: none;
    }

    .third-section-main .inner-box-second-skills .comman-boxed-skilss {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        text-align: center;
        grid-column-gap: 30px;
        row-gap: 40px;
    }

    .third-section-main .inner-box-skills {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
        padding: 100px 0px;
        padding-bottom: 0;
    }

    .third-section-main .comman-headings::before {
        display: none;
    }

    .third-section-main .comman-headings {
        width: 100%;
    }

    .third-section-main .inner-box-skills .right-col .inner-boxed-loader {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding-top: 60px;
    }

    .third-section-main .inner-box-skills .right-col .inner-boxed-loader .right-load {
        padding-top: 0px;
    }

    .tabs-area .nav-tabs {
        width: 90%;
    }
}

@media (max-width:1100px) {
    .banner-heading {
        font-size: 55px;
        line-height: 65px;
        width: 90%;
    }

    .sub-headings {
        font-size: 34px;
        line-height: 38px;
    }

    .para-area {
        font-weight: 300;
        font-size: 15px;
        line-height: 25px;
    }

    .second-section-expertise .third-row .comman-cols .icons {
        background: #F8F7AB;
        border-radius: 12px;
        width: 82px;
        height: 82px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 37px;
    }
}

@media (max-width:991px) {
    .social-links-main {
        margin-right: 40px;
    }

    .header-area-main {
        position: relative;
    }

    .header-area-main .inner-box-main .navigation-area-main nav.navbar.navbar-expand-lg.bg-light {
        position: unset;
    }

    .navbar-toggler {
        position: absolute;
        right: 20px;
        left: auto;
        width: 48px;
        height: 48px;
        border: 1px solid rgb(255 255 255 / 30%) !important;
        border-radius: 100% !important;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        padding: 12px;
    }

    .navbar-toggler span.navbar-toggler-icon {
        position: relative;
        height: 2px;
        background: #fff;
        width: 80%;
    }

    .navbar-toggler span.navbar-toggler-icon:before {
        position: absolute;
        content: '';
        background: #fff;
        width: 100%;
        height: 2px;
        top: -7px;
        left: 0;
        right: 0;
        margin: auto;
    }

    .navbar-toggler span.navbar-toggler-icon::after {
        position: absolute;
        content: '';
        background: #fff;
        width: 100%;
        height: 2px;
        bottom: -7px;
        left: 0;
        right: 0;
        margin: auto;
    }

    .navbar-collapse {
        background: #6f6b6b;
        color: #000;
        position: absolute;
        top: 70px;
        z-index: 99;
        left: 0;
        right: 0;
        text-align: left;
    }

    .navbar-collapse ul.navbar-nav.me-auto.mb-2.mb-lg-0 {
        justify-content: flex-start !important;
        align-items: flex-start;
        margin-bottom: 0 !important;
    }

    .navbar-collapse ul.navbar-nav li.nav-item {
        width: 100%;
        text-align: left;
        border-bottom: 1px solid #fff;
        padding: 10px 30px;
        display: flex;
        align-items: center;
    }

    .banner-heading {
        font-size: 45px;
        line-height: 55px;
        width: 100%;
    }

    .banner-section-main p br {
        display: none;
    }

    .banner-section-main p {
        margin-bottom: 8px;
    }

    .banner-heading::before {
        position: absolute;
        content: '';
        background: url(../images/combine-shape.svg)no-repeat;
        width: 100px;
        height: 100px;
        right: auto;
        left: 180px;
        top: -40px;
        background-size: 100px 100px;
    }

    .banner-section-main {
        padding-top: 50px;
    }

    .banner-section-main p {
        margin-bottom: 38px;
    }

    .second-section-expertise .third-row {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-column-gap: 30px;
        position: relative;
        grid-row-gap: 30px;
    }

    .second-section-expertise .second-row {
        flex-direction: column;
        row-gap: 30px;
    }

    .second-section-expertise .second-row .right-side-area {
        width: 100%;
    }

    .second-section-expertise .right-side-area p br {
        display: none;
    }

    .grid-boxed-main {
        grid-template-columns: repeat(2, 1fr);

    }

    .fifth-section-mains .my-experience-main {
        flex-direction: column;
    }

    .fifth-section-mains .my-experience-main {
        flex-direction: column;
        align-items: self-start;
        row-gap: 30px;
    }

    .fifth-section-mains .my-experience-main .right-boxed p br {
        display: none;
    }

    .fifth-section-mains .timeline-area-main .boxed-area-time .right-sideded .white-boxed {
        padding: 30px 38px;
    }

    .sixth-sections-mains .testimonials-mains {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 30px;
    }

    .seventh-sections-main .my-experience-main {
        flex-direction: column;
        align-items: flex-start;
        row-gap: 30px;
    }

    .seventh-sections-main .my-experience-main .right-boxed p br {
        display: none;
    }

    .blog-update-cards {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 30px;
    }

    .blog-update-cards .comman-cols .content-area {
        padding-left: 20px;
        padding-bottom: 20px;
    }

    .contact-form-main .inner-boxed-main-contact {
        flex-direction: column;
        row-gap: 50px;
    }

    .contact-form-main .inner-boxed-main-contact .left-col {
        width: 100%;
    }

    .contact-form-main .inner-boxed-main-contact .right-col {
        width: 100%;
    }

    .contact-form-main .inner-boxed-main-contact .left-col .comman-headings::before {
        position: absolute;
        content: '';
        background: url(../images/new-shape.svg)no-repeat;
        width: 100px;
        height: 100px;
        right: auto;
        left: 190px;
        top: -42px;
        background-size: 100px;
    }

    .contact-form-main .inner-boxed-main-contact .left-col p br {
        display: none;
    }

    .phone-number {
        font-size: 17px;
    }
}

@media (max-width:767px) {
    .header-area-main .inner-box-main .navigation-area-main {
        margin-right: 0px;
    }

    .social-links-main {
        margin-right: 50px;
    }

    .header-area-main .inner-box-main .social-links-main .boxed-main a {
        width: 44px;
        height: 44px;
    }

    .navbar-toggler {
        right: 10px;
        left: auto;
        width: 44px;
        height: 44px;
    }

    .third-section-main .inner-box-skills .right-col .inner-boxed-loader {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding-top: 60px;
        row-gap: 30px;
    }

    .comman-headings {
        font-size: 40px;
        line-height: 44px;
    }

    .third-section-main {
        border-radius: 50px;
    }

    .third-section-main .inner-box-my-skills {
        background: #f7f7f7;
        border-radius: 30px;
        padding-bottom: 29px;
    }

    .third-section-main .inner-box-skills {
        padding: 40px 0px;
    }

    .third-section-main .inner-box-second-skills {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .third-section-main .inner-box-second-skills .comman-boxed-skilss {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        text-align: center;
        grid-column-gap: 30px;
        row-gap: 40px;
    }

    .tabs-area {
        overflow-x: auto;
    }

    .tabs-area nav {
        width: 800px;
    }

    .grid-boxed-main {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 20px;
    }

    .grid-boxed-main .column-gap-main .text-area {
        position: absolute;
        bottom: 30px;
        left: 20px;
    }

    .portfolio-section-main {
        padding: 50px 0px;
    }

    .fifth-section-mains .timeline-area-main .boxed-area-time {
        display: flex;
        column-gap: 22px;
        margin-bottom: 47px;
    }

    .fifth-section-mains .timeline-area-main .boxed-area-time .right-sideded .inner-texts {
        font-size: 18px;
    }

    .fifth-section-mains .timeline-area-main .boxed-area-time .right-sideded p {
        margin-bottom: 0;
        font-weight: 300;
        font-size: 14px;
        line-height: 25px;
        color: rgba(51, 51, 51, 0.501557);
    }

    .fifth-section-mains .timeline-area-main .boxed-area-time .right-sideded .white-boxed.oval-grids::before {
        position: absolute;
        content: '';
        background: url(../images/new-shape.svg)no-repeat;
        width: 100px;
        height: 100px;
        left: auto;
        top: -40px;
        right: -10px;
        z-index: -1;
        background-size: 100px;
    }

    .fifth-section-mains .timeline-area-main .boxed-area-time .right-sideded .white-boxed {
        padding: 20px 28px;
    }

    .comman-headings {
        font-size: 34px;
        line-height: 50px;
    }

    .sixth-sections-mains .testimonials-mains .innner-cols .quote-cons {
        background: #F8F7AB;
        border-radius: 12px;
        width: 82px;
        height: 82px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 22px;
    }

    .sixth-sections-mains .testimonials-mains .innner-cols .text-paragraph {
        font-size: 15px;
        line-height: 22px;
    }

    .sixth-sections-mains .testimonials-mains .innner-cols {
        background: #F7F7F7;
        border-radius: 16px;
        padding: 28px 28px;
    }

    .sixth-sections-mains .testimonials-mains .innner-cols .test-boxed .names-text {
        font-family: 'Paytone One';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 22px;
        color: #333333;
        margin-bottom: 5px;
    }

    .seventh-sections-main .my-experience-main {
        flex-direction: column;
        align-items: flex-start;
        row-gap: 30px;
        margin-bottom: 40px;
    }

    .seventh-sections-main .my-experience-main .right-boxed p {
        margin-bottom: 0;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        color: #FFFFFF;
    }

    .blog-update-cards .comman-cols .text-are {
        font-weight: 300;
        font-size: 14px;
        line-height: 22px;
        color: rgba(51, 51, 51, 0.501557);
        margin-bottom: 16px;
    }

    .blog-update-cards .comman-cols .date-time {
        font-size: 14px;
    }

    .blog-update-cards .comman-cols .content-area {
        padding-left: 10px;
        padding-bottom: 20px;
    }

    .contact-form-main {
        background: #F7F7F7;
        border-radius: 46px;
        padding: 60px 0px;
    }

    .social-media-main .inner-boxed-main {
        flex-direction: column;
        row-gap: 40px;
    }

    .social-media-main .inner-boxed-main .right-sided .colmn-grids {
        width: 77px;
        height: 77px;
    }

    .footer-section-main {
        padding-top: 120px;
        padding-bottom: 40px;
        margin-top: -79px;
    }

    .copyright {
        font-weight: 300;
        font-size: 14px;
        line-height: 22px;
        text-align: center;
        color: rgba(255, 255, 255, 0.502972);
        background: #282828;
        padding: 14px 0px;
    }

    .custom-container {
        max-width: 92%;
    }
}

.comman-boxed {
    display: flex;
}

.comman-boxed .left-side,
.comman-boxed .right-side {
    width: 50%;
}

.footer-sections-boxed.row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 40px;
}

@media (max-width:991px) {
    .comman-boxed {
        flex-direction: column;
    }

    .comman-boxed .left-side,
    .comman-boxed .right-side {
        width: 100%;
    }
}

@media (max-width:767px) {
    .footer-sections-boxed.row {
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 40px;
    }

    .contanct-forms-main {
        width: 100%;
    }

    .sixth-sections-mains {
        padding-bottom: 70px;
    }

    .sixth-sections-mains .testimonials-mains {
        margin-top: 60px;
    }
}

.toggle-bttn {
    display: none;
}

.mystyle {
    display: none !important;
}


@media (max-width:991px) {
    .toggle-bttn {
        border: 1px solid rgb(255 255 255 / 30%) !important;
        width: 48px;
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100%;
        transition: 0.3s all ease;
        background: transparent;
        position: absolute;
        right: 20px;
        top: 16px;
    }

    .toggle-bttn .line-one {
        display: block;
        height: 2px;
        background: #fff;
        width: 21px;
        position: relative;
    }

    .toggle-bttn .line-one:before {
        position: absolute;
        content: '';
        background: #fff;
        width: 21px;
        left: 0;
        right: 0;
        top: -7px;
        height: 2px;
    }

    .toggle-bttn .line-one::after {
        position: absolute;
        content: '';
        background: #fff;
        width: 21px;
        left: 0;
        right: 0;
        bottom: -7px;
        height: 2px;
    }

    .mystyle {
        display: block !important;
    }

    .navbar-collapse ul.navbar-nav.me-auto.mb-2.mb-lg-0 {
        flex-direction: column;
    }

    .navbar-collapse {
        display: none;
    }
}

.tab-menu ul {
    margin: 0;
    padding: 0;
}

.tab-menu ul li {
    list-style-type: none;
    display: inline-block;
}

.tab-menu ul li a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.4);
    background-color: #b4cbc4;
    padding: 7px 25px;
    border-radius: 4px;
}

.tab-menu ul li a.active-a {
    background-color: #588d7d;
    color: #ffffff;
}

.tab {
    display: none;
}

.tab h2 {
    color: rgba(0, 0, 0, .7);
}

.tab p {
    color: rgba(0, 0, 0, 0.6);
    text-align: justify;
}

.tab-active {
    display: block;
}

.tabs-area .nav-tabs {
    display: flex;
}

.tabs-area .nav-tabs button.active-a:before {
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    height: 5px;
    bottom: -20px;
    background: #583EBC;
}

.tabs-area .nav-tabs {
    display: block;
    width: 100%;
}

.tabs-area .nav-tabs ul {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 60%;
    margin: auto;
    list-style-type: none;
}


@media (max-width:1100px) {
    .tabs-area .nav-tabs ul {
        width: 80%;
    }
}

@media (max-width:991px) {
    .tabs-area .nav-tabs ul {
        width: 95%;
    }
}

@media (max-width:767px) {
    .toggle-bttn {
        width: 44px;
        height: 44px;
        right: 10px;
    }

    .toggle-bttn .line-one,
    .toggle-bttn .line-one:before,
    .toggle-bttn .line-one::after {
        width: 18px;
    }
}